db.sqlite3
pass.txt
/grupo2app/__pycache__/*
/grupo2app/migrations/*
/apps/contribuitors/__pycache__/*
/apps/contribuitors/migrations/*
/apps/entities/__pycache__/*
/apps/entities/migrations/*
/apps/locations/__pycache__/*
/apps/locations/migrations/*
/apps/materials/__pycache__/*
/apps/materials/migrations/*
/apps/ratings/__pycache__/*
/apps/ratings/migrations/*
/apps/solicitations/__pycache__/*
/apps/solicitations/migrations/*
/apps/supervisors/__pycache__/*
/apps/supervisors/migrations/*
/apps/task/__pycache__/*
/apps/task/migrations/*
